$pinktransp: rgba(246, 150, 121, 0.2);
$lightpink: #FFE9E3;
$pink: #F69679;
$darkpink: #F37A5C;

$dark: #65544F;
$light: #b2a39e;

$yellow: #FFD64B;
$yellowtransp: rgba(255, 214, 75, 0.3);

$greydark: #3C3C3C;
$greymed: #646464;
$greylight: #E8E8E8;
$greytransp: rgba(60, 60, 60, 0.12);