$pinktransp: rgba(246, 163, 121, 0.2);
$lightpink: #FFE9E3;
$pink: #F69679;
$darkpink: #F37A5C;

$dark: #585F6C;
$light: #9CA5B4;
$lighttransp: rgba(152, 164, 184, 0.2);

$yellow: #FFD64B;
$yellowtransp: rgba(255, 214, 75, 0.3);

$greydark: #3C3C3C;
$greymed: #646464;
$greylight: #e8e8e8;
$greytransp: rgba(60, 60, 60, 0.12);

$none: rgba(0, 0, 0, 0);
$white: #FFFFFF;


/*
$dark: #65544F;
$light: #b2a39e;

$greydark: #585F6C;
$greymed: #9CA5B4;
$greylight: #EAEDF1;
$greytransp: rgba(152, 164, 184, 0.2);
*/
