/*/ / / / / / / / / / / / / / / / / / /
/ / / / / / / / / / / / / / / / / / / /
/ / / M i l o's C l u b h o u s e / / /
/ / / / / / / / / / / / / / / / / / / /
/ / / / / / / / / / / / / / / / / / /*/
/*/ / / / / / / / / / / / / / / / / / /
/ / / / / / / / / / / / / / / / / / / /
/ / / / / / / G E N E R A L / / / / / /
/ / / / / / / / / / / / / / / / / / / /
/ / / / / / / / / / / / / / / / / / /*/
body {
  width: 100%;
  margin: 0;
  font-family: "museo-sans-rounded", Verdana, Geneva, sans-serif;
  color: #65544F;
  overflow: auto; }

.flexmom {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.flexbaby {
  flex-grow: 0; }

h1 {
  font-weight: 500;
  color: #F69679;
  font-size: 42px;
  margin: 0 0 40px 0; }

h2 {
  font-weight: 300;
  color: #65544F;
  font-size: 38px;
  margin: 0 0 15px 0; }

p {
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  margin: 0 0 15px 0; }
  p a {
    background-color: rgba(246, 150, 121, 0.2);
    color: #65544F;
    text-decoration: none;
    padding: 0 5px;
    border-radius: 5px;
    transition: .4s ease; }
  p a:hover {
    color: #F37A5C;
    transition: .4s ease; }
  p a:active {
    transition: .4s ease;
    color: #FFD64B; }

::-moz-selection {
  background: rgba(255, 214, 75, 0.3);
  color: #F37A5C; }

::selection {
  background: rgba(255, 214, 75, 0.3);
  color: #F37A5C; }

.last {
  border-bottom: 0 solid !important; }

.first {
  padding: 120px 20px 100px !important; }

.not-mobile {
  display: none; }

.hide {
  display: none; }

/*/ / / / / / / / / / / / / / / / / / /
/ / / / / / / / / / / / / / / / / / / /
/ / / / / / / / / / / / / / / / / / /*/
@media only screen and (min-width: 450px) {
  h1 {
    font-size: 56px; }

  h2 {
    font-size: 42px; }

  .mobile {
    display: none; }

  .not-mobile {
    display: inherit; } }
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 74px; }

  h2 {
    font-size: 42px; }

  .first {
    padding: 150px 50px 100px !important; } }
@media only screen and (max-width: 360px) {
  h1 {
    font-size: 32px;
    line-height: 40px; }

  h2 {
    font-size: 30px; }

  p {
    font-size: 17px;
    line-height: 26px;
    margin: 0 0 5px 0; } }
/*/ / / / / / / / / / / / / / / / / / /
/ / / / / / / / / / / / / / / / / / / /
/ / / / / N A V I G A T I O N / / / / /
/ / / / / / / / / / / / / / / / / / / /
/ / / / / / / / / / / / / / / / / / /*/
nav {
  width: 100%;
  height: 50px;
  background-color: #FFE9E3;
  padding: 0 0px;
  z-index: 4;
  position: fixed;
  top: 0; }
  nav .navbar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    nav .navbar .name {
      margin: 10px 0 0 25px;
      font-size: 25px;
      font-weight: 500;
      letter-spacing: .5px; }
      nav .navbar .name a {
        text-decoration: none;
        color: #F37A5C;
        transition: .4s ease; }
      nav .navbar .name a:hover {
        text-decoration: none;
        color: #F69679 !important;
        transition: .4s ease; }
      nav .navbar .name a:active {
        text-decoration: none;
        color: #FFD64B !important;
        transition: .4s ease; }
      nav .navbar .name a:visited {
        text-decoration: none;
        color: #F37A5C; }
    nav .navbar .icons {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      margin: 9px 25px 0 0; }
      nav .navbar .icons a {
        margin-left: 30px;
        height: 31px;
        color: #F37A5C;
        position: relative; }
        nav .navbar .icons a svg {
          height: 31px;
          display: block; }
        nav .navbar .icons a .overlay {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          height: 100%;
          width: 100%;
          opacity: 0;
          transition: .4s ease;
          background-color: #FFE9E3; }
          nav .navbar .icons a .overlay .label {
            font-size: 13px;
            font-weight: 700;
            letter-spacing: .5px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%); }
        nav .navbar .icons a:hover .overlay {
          opacity: 1; }
      nav .navbar .icons a:hover {
        color: #F37A5C; }
      nav .navbar .icons a:visited {
        color: #F37A5C; }
      nav .navbar .icons a:active {
        color: #FFD64B; }
  nav .sidebar {
    background: #FFE9E3;
    border-left: 20px solid #FFE9E3;
    padding-right: 20px;
    height: 100vh;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    right: calc(-100vw - 20px);
    width: calc(100vw - 40px);
    z-index: 3;
    -webkit-transition: right 0.6s ease-out;
    -moz-transition: right 0.6s ease-out;
    transition: right 0.4s ease-out;
    display: block; }
    nav .sidebar a {
      text-decoration: none; }
    nav .sidebar a:active {
      text-decoration: none; }
    nav .sidebar a:hover {
      text-decoration: none; }
    nav .sidebar a:visited {
      text-decoration: none; }
    nav .sidebar .sidebar-topbit {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      nav .sidebar .sidebar-topbit .name {
        margin: 10px 0 0 0px; }
      nav .sidebar .sidebar-topbit .icons {
        margin: 9px 5px 0 0; }
    nav .sidebar .mobile-nav {
      margin: 10px 0 0 0; }
      nav .sidebar .mobile-nav .mobile-link {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        border-top: 2px solid rgba(246, 150, 121, 0.2);
        padding: 10px 0; }
        nav .sidebar .mobile-nav .mobile-link .mobile-nav-icon {
          height: 31px;
          margin: 0 15px 0 0; }
          nav .sidebar .mobile-nav .mobile-link .mobile-nav-icon svg {
            height: 31px; }
      nav .sidebar .mobile-nav a {
        transition: 0.3s; }
      nav .sidebar .mobile-nav a:hover {
        opacity: .6;
        transition: 0.3s; }
      nav .sidebar .mobile-nav a:active {
        background-color: rgba(246, 150, 121, 0.2);
        transition: 0.3s; }
    nav .sidebar h3 {
      margin: 0 15px 0 0;
      color: #F37A5C;
      font-size: 25px;
      font-weight: 500; }
    nav .sidebar .sidebar-body {
      margin: 10px 0 0 0; }
      nav .sidebar .sidebar-body .project-link {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin: 0 0 20px 0;
        height: 100px; }
        nav .sidebar .sidebar-body .project-link .project-image {
          height: 100px;
          width: 100px;
          background-color: white;
          margin-right: 20px; }
          nav .sidebar .sidebar-body .project-link .project-image img {
            height: 100px;
            width: 100px; }
        nav .sidebar .sidebar-body .project-link .title {
          font-weight: 500;
          font-size: 22px;
          line-height: 24px;
          color: #65544F;
          padding: 28px 0 4px 0; }
        nav .sidebar .sidebar-body .project-link .type {
          color: #65544F;
          font-size: 14px;
          font-weight: 500;
          padding: 0;
          letter-spacing: 0.3px; }
    nav .sidebar .sidebar-footer {
      position: absolute;
      bottom: 15px;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end; }
      nav .sidebar .sidebar-footer .links {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        height: 31px;
        margin-top: 0;
        border-radius: 3px;
        padding: 4px 0; }
        nav .sidebar .sidebar-footer .links .link {
          margin-right: 17px;
          padding: 0 4px;
          border-radius: 5px; }
          nav .sidebar .sidebar-footer .links .link .icon {
            height: 31px; }
            nav .sidebar .sidebar-footer .links .link .icon svg {
              height: 100%; }
        nav .sidebar .sidebar-footer .links a {
          transition: 0.3s; }
        nav .sidebar .sidebar-footer .links a:hover {
          opacity: .6;
          transition: 0.3s; }
        nav .sidebar .sidebar-footer .links a:active {
          opacity: 1;
          background-color: rgba(246, 150, 121, 0.2);
          transition: 0.3s; }

.sidebar-open .sidebar {
  right: 0;
  position: fixed; }

.bottom-line {
  background-color: #FFE9E3;
  height: 20px;
  width: 100%;
  z-index: 4;
  bottom: 0;
  position: fixed; }

/*/ / / / / / / / / / / / / / / / / / /
/ / / / / / / / / / / / / / / / / / / /
/ / / / / / / / / / / / / / / / / / /*/
@media only screen and (min-width: 450px) {
  nav .sidebar {
    right: -320px;
    width: 300px; }
    nav .sidebar h3 {
      font-size: 38px;
      font-weight: 300;
      color: #65544F; }

  .sidebar-topbit .icons .sidebar-toggle-close {
    margin-left: 268px; } }
@media only screen and (max-width: 370px) {
  nav .navbar .icons a {
    margin-left: 17px; } }
/*/ / / / / / / / / / / / / / / / / / /
/ / / / / / / / / / / / / / / / / / / /
/ / / / / / H O M E P A G E / / / / / /
/ / / / / / / / / / / / / / / / / / / /
/ / / / / / / / / / / / / / / / / / /*/
.page {
  border: 20px solid #FFE9E3;
  margin: 0;
  width: auto;
  overflow: hidden; }
  .page .section {
    border-bottom: 20px solid #FFE9E3;
    padding: 60px 20px;
    margin: 0 auto; }
    .page .section .intro {
      max-width: 750px;
      margin: 0 auto; }
      .page .section .intro h1 {
        max-width: 650px; }
      .page .section .intro p {
        max-width: 430px;
        margin: 0 0 0 auto;
        padding: 13px 20px;
        border-radius: 6px;
        background-color: rgba(255, 214, 75, 0.3);
        font-weight: 300;
        color: #F37A5C; }
    .page .section .copy-1 {
      max-width: 650px;
      margin: 0 auto; }
    .page .section .copy-2 {
      max-width: 500px; }
    .page .section .services {
      margin: 20px auto 0;
      max-width: 800px; }
      .page .section .services .service {
        width: 155px;
        margin: 20px 7px; }
        .page .section .services .service .image {
          height: 100px;
          width: 100px;
          margin: 0 auto; }
          .page .section .services .service .image img {
            height: 100px;
            width: 100px; }
        .page .section .services .service .service-name {
          font-size: 17px;
          font-weight: 300;
          color: #F37A5C;
          text-align: center; }
    .page .section .clients {
      margin: 60px 0 0 0; }
      .page .section .clients .client {
        margin: 0 20px; }
        .page .section .clients .client .image {
          height: 80px;
          width: 200px; }
        .page .section .clients .client .overlay {
          opacity: 1;
          transition: .4s ease;
          background-color: #FFE9E3;
          font-size: 17px;
          color: #F37A5C;
          text-align: center; }
          .page .section .clients .client .overlay .label {
            margin-top: -70px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%); }
        .page .section .clients .client:hover .overlay {
          opacity: 1; }
        .page .section .clients .client .descript {
          font-size: 17px;
          color: #F37A5C;
          text-align: center; }
    .page .section .contact {
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
      .page .section .contact .image {
        height: 160px;
        max-width: 350px;
        margin: 0 20px 20px; }
        .page .section .contact .image img {
          height: 160px;
          max-width: 350px; }
    .page .section .research .image img {
      height: 240px;
      margin: 0 auto; }

/*/ / / / / / / / / / / / / / / / / / /
/ / / / / / / / / / / / / / / / / / / /
/ / / / / / / / / / / / / / / / / / /*/
@media only screen and (min-width: 450px) {
  .page .section {
    padding: 100px 20px; }
    .page .section .services .service {
      margin: 20px 15px; }
      .page .section .services .service .image {
        height: 115px;
        width: 115px; }
        .page .section .services .service .image img {
          height: 115px;
          width: 115px; }
    .page .section .contact .image {
      height: 180px; }
      .page .section .contact .image img {
        height: 180px; }
    .page .section .research .image img {
      height: 270px; } }
@media only screen and (min-width: 768px) {
  .page .section {
    padding: 100px 50px; }
    .page .section .copy-2 {
      max-width: 530px; }
    .page .section .services .service {
      margin: 20px 25px; }
      .page .section .services .service .image {
        height: 115px;
        width: 115px; }
        .page .section .services .service .image img {
          height: 115px;
          width: 115px; }
    .page .section .contact .image {
      height: 180px; }
      .page .section .contact .image img {
        height: 180px; }
    .page .section .research .image {
      margin: 0 20px; } }
@media only screen and (max-width: 400px) {
  .page .section {
    padding: 50px 20px; }
    .page .section .research .image img {
      height: 190px;
      min-width: 100px; } }
/*/ / / / / / / / / / / / / / / / / / /
/ / / / / / / / / / / / / / / / / / / /
/ / / / / / P R O F I L E / / / / / / /
/ / / / / / / / / / / / / / / / / / / /
/ / / / / / / / / / / / / / / / / / /*/
.prof-header {
  max-width: 600px;
  margin: 0 auto 20px; }
  .prof-header .name {
    margin: 20px 0 0 0; }
  .prof-header .links {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 31px;
    margin-top: 0px;
    border-radius: 3px;
    padding: 4px 14px;
    background-color: #FFE9E3; }
    .prof-header .links .link {
      margin-right: 20px;
      padding: 0 4px;
      border-radius: 5px; }
      .prof-header .links .link .icon {
        height: 31px; }
        .prof-header .links .link .icon img {
          height: 100%; }
    .prof-header .links a {
      transition: 0.3s; }
    .prof-header .links a:hover {
      opacity: .6;
      transition: 0.3s; }
    .prof-header .links a:active {
      opacity: 1;
      background-color: rgba(246, 150, 121, 0.2);
      transition: 0.3s; }

.prof-body {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .prof-body .about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    order: -1;
    margin: 0 auto 40px; }
    .prof-body .about .bio {
      max-width: 840px;
      margin-right: 0; }
      .prof-body .about .bio .cat-name {
        font-weight: 700;
        font-size: 18px;
        padding-bottom: 3px;
        border-bottom: 2px solid #F69679;
        margin-bottom: 10px;
        color: #F69679; }
      .prof-body .about .bio .prof-pic {
        width: 200px;
        height: 200px;
        float: none;
        margin: 20px auto;
        border-radius: 8px;
        border: 2px solid #F69679; }
        .prof-body .about .bio .prof-pic img {
          width: 100%;
          border-radius: 6px; }
      .prof-body .about .bio .descript {
        width: 100%; }
  .prof-body .ec {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto; }
    .prof-body .ec .ec-cat {
      max-width: 260px;
      margin: 0 15px; }
      .prof-body .ec .ec-cat .cat-name {
        font-weight: 700;
        font-size: 18px;
        padding-bottom: 3px;
        border-bottom: 2px solid #F69679;
        margin-bottom: 10px;
        color: #F69679; }
      .prof-body .ec .ec-cat .ec-item {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-bottom: 25px; }
        .prof-body .ec .ec-cat .ec-item .label {
          width: 50px;
          font-size: 12px;
          margin: 0 10px 6px 0;
          font-weight: 300;
          color: #b2a39e; }
        .prof-body .ec .ec-cat .ec-item .ec-info {
          width: 200px; }
          .prof-body .ec .ec-cat .ec-item .ec-info .title {
            font-size: 12.5px;
            letter-spacing: 0.2px;
            line-height: 15px;
            margin-bottom: 4px;
            font-weight: 300; }
          .prof-body .ec .ec-cat .ec-item .ec-info .credit {
            font-weight: 500;
            font-size: 9px;
            line-height: 12px;
            text-transform: uppercase;
            letter-spacing: 0.5px;
            margin: 0; }
            .prof-body .ec .ec-cat .ec-item .ec-info .credit a {
              padding: 1px 4px; }

/*/ / / / / / / / / / / / / / / / / / /
/ / / / / / / / / / / / / / / / / / / /
/ / / / / / / / / / / / / / / / / / /*/
@media only screen and (min-width: 944px) {
  .prof-header {
    max-width: 840px;
    margin: 0 auto 30px; }

  .prof-body {
    margin: 0 auto;
    max-width: 840px; }
    .prof-body .about {
      margin: 0;
      order: 0; }
      .prof-body .about .bio {
        max-width: 500px; }
    .prof-body .ec {
      display: block;
      margin: 0; }
      .prof-body .ec .ec-cat {
        margin: 0; } }
@media only screen and (min-width: 450px) {
  .prof-header .name {
    margin: 0; }

  .prof-body .about .bio .prof-pic {
    width: 200px;
    height: 200px;
    float: left;
    margin: 10px 30px 10px 0;
    border-radius: 8px;
    border: 2px solid #F69679; }
    .prof-body .about .bio .prof-pic img {
      width: 100%;
      border-radius: 6px; } }
@media only screen and (max-width: 310px) {
  .prof-header .links .link .icon {
    height: 31px;
    margin-right: 18px; } }
/*/ / / / / / / / / / / / / / / / / / /
/ / / / / / / / / / / / / / / / / / / /
/ / / / / / P R O J E C T S / / / / / /
/ / / / / / / / / / / / / / / / / / / /
/ / / / / / / / / / / / / / / / / / /*/
.project-nav nav {
  background-color: #E8E8E8; }
  .project-nav nav .navbar .name a {
    color: #3C3C3C; }
  .project-nav nav .navbar .name a:hover {
    color: #F69679 !important; }
  .project-nav nav .navbar .name a:active {
    color: #F69679 !important; }
  .project-nav nav .navbar .name a:visited {
    color: #3C3C3C; }
  .project-nav nav .navbar .icons a {
    color: #3C3C3C; }
    .project-nav nav .navbar .icons a .overlay {
      background-color: #E8E8E8; }
    .project-nav nav .navbar .icons a svg path {
      fill: #3C3C3C; }
  .project-nav nav .navbar .icons a:hover {
    color: #3C3C3C; }
  .project-nav nav .navbar .icons a:visited {
    color: #3C3C3C; }
  .project-nav nav .navbar .icons a:active {
    color: #F69679; }
  .project-nav nav .sidebar {
    background: #E8E8E8;
    border-left: 20px solid #E8E8E8; }
    .project-nav nav .sidebar .mobile-nav .mobile-link {
      border-top: 2px solid rgba(60, 60, 60, 0.12); }
      .project-nav nav .sidebar .mobile-nav .mobile-link .mobile-nav-icon svg path {
        fill: #3C3C3C; }
    .project-nav nav .sidebar .mobile-nav a:active {
      background-color: rgba(60, 60, 60, 0.12); }
    .project-nav nav .sidebar h3 {
      color: #3C3C3C; }
    .project-nav nav .sidebar .sidebar-body .title {
      color: #3C3C3C; }
    .project-nav nav .sidebar .sidebar-body .type {
      color: #3C3C3C; }
  .project-nav nav .sidebar-footer .links .icon svg path {
    fill: #3C3C3C; }
  .project-nav nav .sidebar-footer .links a:active {
    background-color: rgba(60, 60, 60, 0.12); }

.bottom-line-project {
  background-color: #E8E8E8;
  height: 20px;
  width: 100%;
  z-index: 4;
  bottom: 0;
  position: fixed; }

.project {
  color: #3C3C3C;
  border: 20px solid #E8E8E8; }
  .project .section {
    padding: 50px 20px; }
    .project .section h1 {
      max-width: 600px;
      color: #3C3C3C;
      margin: 40px auto 0;
      font-size: 38px;
      line-height: 44px; }
    .project .section h2 {
      max-width: 600px;
      margin: 60px auto 20px;
      color: #3C3C3C;
      font-size: 20px;
      text-transform: uppercase;
      font-weight: 900;
      letter-spacing: .7px; }
    .project .section h3 {
      max-width: 600px;
      margin: 20px auto 0;
      color: #3C3C3C;
      font-size: 20px;
      text-transform: uppercase;
      font-weight: 900;
      letter-spacing: .7px; }
    .project .section .image-cont {
      display: block;
      max-width: 800px;
      margin: 40px auto; }
      .project .section .image-cont .image-1 {
        width: 100%; }
        .project .section .image-cont .image-1 img {
          width: 100%;
          height: 200px;
          background-color: #E8E8E8; }
      .project .section .image-cont .image-2 {
        width: 100%;
        margin-bottom: 40px; }
        .project .section .image-cont .image-2 img {
          width: 100%;
          height: 200px;
          background-color: #E8E8E8; }
      .project .section .image-cont .caption {
        margin: 10px auto 0;
        max-width: 600px;
        font-size: 15px;
        line-height: 21px;
        font-weight: 300;
        color: #646464; }
    .project .section .paragraph {
      margin: 40px auto;
      max-width: 600px; }
    .project .section .carousel-box {
      width: 100%;
      margin: 40px 0 60px; }
      .project .section .carousel-box .carousel {
        margin: 0 auto;
        max-width: 700px; }
        .project .section .carousel-box .carousel .image {
          margin: 0 auto;
          max-width: 700px;
          height: 100%;
          height: auto; }
          .project .section .carousel-box .carousel .image img {
            max-width: 100%;
            margin: 0 auto;
            height: auto; }
    .project .section .linkybob {
      max-width: 600px;
      margin: 40px auto;
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap; }
      .project .section .linkybob .link-box {
        border: 2px solid #3C3C3C;
        border-radius: 7px;
        padding: 7px 13px;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap; }
        .project .section .linkybob .link-box .link-text {
          font-size: 18px;
          text-transform: uppercase;
          font-weight: 500;
          padding: 6px 10px 0 0; }
        .project .section .linkybob .link-box .link-arrow {
          height: 31px; }
          .project .section .linkybob .link-box .link-arrow img {
            height: 31px; }
      .project .section .linkybob a:link {
        text-decoration: none;
        color: #3C3C3C;
        background-color: none;
        transition: .4s ease; }
      .project .section .linkybob a:active {
        text-decoration: none;
        color: #3C3C3C;
        background-color: #FFE9E3;
        transition: .4s ease; }
      .project .section .linkybob a:hover {
        text-decoration: none;
        color: #3C3C3C;
        background-color: #E8E8E8;
        transition: .4s ease; }
      .project .section .linkybob a:visited {
        text-decoration: none;
        color: #3C3C3C;
        transition: .4s ease; }

/*/ / / / / / / / / / / / / / / / / / /
/ / / / / / / / / / / / / / / / / / / /
/ / / / / / / / / / / / / / / / / / /*/
@media only screen and (min-width: 450px) {
  .project .section {
    padding: 50px 20px; }
    .project .section h1 {
      font-size: 45px;
      line-height: 50px; }
    .project .section h2 {
      margin: 60px auto 20px;
      font-size: 22px;
      font-weight: 900; }
    .project .section h3 {
      margin: 15px auto 0;
      font-size: 22px;
      font-weight: 900; }
    .project .section .image-cont {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; }
      .project .section .image-cont .image-1 {
        width: 100%; }
        .project .section .image-cont .image-1 img {
          width: 100%; }
      .project .section .image-cont .image-2 {
        width: 47%;
        margin-bottom: 0; }
        .project .section .image-cont .image-2 img {
          width: 100%; }
    .project .section .linkybob .link-box {
      padding: 10px 18px; }
      .project .section .linkybob .link-box .link-text {
        font-size: 22px;
        font-weight: 500;
        padding: 3px 8px 0 0; }
      .project .section .linkybob .link-box .link-arrow {
        height: 31px; }
        .project .section .linkybob .link-box .link-arrow img {
          height: 31px; } }
@media only screen and (min-width: 768px) {
  .project .section {
    padding: 80px 50px 100px; }
    .project .section h1 {
      font-size: 55px;
      line-height: 60px; }
    .project .section h2 {
      margin: 60px auto 20px;
      font-size: 25px;
      font-weight: 900; }
    .project .section h3 {
      margin: 20px auto 0;
      font-size: 25px;
      font-weight: 900; }
    .project .section .image-cont {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; }
      .project .section .image-cont .image-1 {
        width: 100%; }
        .project .section .image-cont .image-1 img {
          width: 100%; }
      .project .section .image-cont .image-2 {
        width: 47%;
        margin-bottom: 0; }
        .project .section .image-cont .image-2 img {
          width: 100%; }
    .project .section .linkybob .link-box {
      padding: 12px 18px; }
      .project .section .linkybob .link-box .link-text {
        font-size: 24px;
        font-weight: 500;
        padding: 2px 10px 0 0; }
      .project .section .linkybob .link-box .link-arrow {
        height: 31px; }
        .project .section .linkybob .link-box .link-arrow img {
          height: 31px; } }
@media only screen and (max-width: 360px) {
  .project .section {
    padding: 50px 20px; }
    .project .section h1 {
      font-size: 32px;
      line-height: 38px; }
    .project .section h2 {
      margin: 60px auto 20px; }
    .project .section h3 {
      margin: 15px auto 0; }
    .project .section .linkybob .link-box {
      padding: 7px 13px; }
      .project .section .linkybob .link-box .link-text {
        font-size: 16px;
        font-weight: 500;
        padding: 4px 10px 0 0; }
      .project .section .linkybob .link-box .link-arrow {
        height: 25px; }
        .project .section .linkybob .link-box .link-arrow img {
          height: 25px; } }
