/*/ / / / / / / / / / / / / / / / / / /
/ / / / / / / / / / / / / / / / / / / /
/ / / M i l o's C l u b h o u s e / / /
/ / / / / / / / / / / / / / / / / / / /
/ / / / / / / / / / / / / / / / / / /*/
/*
$dark: #65544F;
$light: #b2a39e;

$greydark: #585F6C;
$greymed: #9CA5B4;
$greylight: #EAEDF1;
$greytransp: rgba(152, 164, 184, 0.2);
*/
/*/ / / / / / / / / / / / / / / / / / /
/ / / / / / / / / / / / / / / / / / / /
/ / / / / / / G E N E R A L / / / / / /
/ / / / / / / / / / / / / / / / / / / /
/ / / / / / / / / / / / / / / / / / /*/
body {
  width: 100%;
  margin: 0;
  font-family: "museo-sans-rounded", helvetica, sans-serif;
  color: #585F6C;
  overflow: auto; }

.flexmom {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.flexbaby {
  flex-grow: 0; }

h1 {
  font-weight: 300;
  color: #585F6C;
  font-size: 42px;
  margin: 0 0 40px 0; }

h2 {
  font-weight: 300;
  color: #585F6C;
  font-size: 30px;
  margin: 0 0 15px 0; }

p {
  font-weight: 300;
  font-size: 20px;
  line-height: 31px;
  margin: 0 0 15px 0; }
  p a {
    background-color: rgba(246, 163, 121, 0.2);
    color: #585F6C;
    text-decoration: none;
    padding: 0 5px;
    border-radius: 5px;
    transition: .4s ease; }
  p a:hover {
    color: #F37A5C;
    transition: .4s ease; }
  p a:active {
    transition: .4s ease;
    color: #FFD64B; }

.linkybob {
  max-width: 600px;
  margin: 40px auto;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap; }
  .linkybob .link-box {
    border: 2px solid #F69679;
    border-radius: 7px;
    padding: 7px 13px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap; }
    .linkybob .link-box .link-text {
      font-size: 18px;
      text-transform: uppercase;
      font-weight: 500;
      padding: 6px 10px 0 0; }
    .linkybob .link-box .link-arrow {
      height: 31px; }
      .linkybob .link-box .link-arrow img {
        height: 31px; }
  .linkybob a:link {
    text-decoration: none;
    color: #F69679;
    background-color: none;
    transition: .4s ease; }
  .linkybob a:active {
    text-decoration: none;
    color: #F69679;
    background-color: rgba(255, 214, 75, 0.3);
    transition: .4s ease;
    box-shadow: 0px 0px 0px 6px rgba(255, 214, 75, 0.3); }
  .linkybob a:hover {
    text-decoration: none;
    color: #F69679;
    background-color: #FFE9E3;
    transition: .4s ease;
    box-shadow: 0px 0px 0px 6px #FFE9E3; }
  .linkybob a:visited {
    text-decoration: none;
    color: #F69679;
    transition: .4s ease; }

::-moz-selection {
  background: #FFE9E3;
  color: #F69679;
  -webkit-text-fill-color: #F69679; }

::selection {
  background: #FFE9E3;
  color: #F69679;
  -webkit-text-fill-color: #F69679; }

.last {
  border-bottom: 0 solid !important; }

.not-mobile {
  display: none; }

.hide {
  display: none; }

.pink-bg {
  background-color: #FFE9E3; }

.spacer20 {
  height: 20px;
  width: 100%; }

.spacer40 {
  height: 40px;
  width: 100%; }

.spacer80 {
  height: 80px;
  width: 100%; }

/*/ / / / / / / / / / / / / / / / / / /
/ / / / / / / / / / / / / / / / / / / /
/ / / / / / / / / / / / / / / / / / /*/
@media only screen and (min-width: 450px) {
  h1 {
    font-size: 48px; }

  h2 {
    font-size: 36px; }

  .mobile {
    display: none; }

  .not-mobile {
    display: inherit; } }
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 64px; }

  h2 {
    font-size: 42px; } }
@media only screen and (max-width: 360px) {
  h1 {
    font-size: 32px;
    line-height: 40px; }

  h2 {
    font-size: 30px; }

  p {
    font-size: 17px;
    line-height: 26px;
    margin: 0 0 5px 0; } }
/*/ / / / / / / / / / / / / / / / / / /
/ / / / / / / / / / / / / / / / / / / /
/ / / / / N A V I G A T I O N / / / / /
/ / / / / / / / / / / / / / / / / / / /
/ / / / / / / / / / / / / / / / / / /*/
nav {
  width: 100%;
  height: 50px;
  background-color: #FFE9E3;
  padding: 0 0px;
  z-index: 4;
  position: fixed;
  top: 0; }
  nav .navbar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    nav .navbar .name {
      margin: 10px 0 0 25px;
      font-size: 25px;
      font-weight: 500;
      letter-spacing: .5px; }
      nav .navbar .name a {
        text-decoration: none;
        color: #F37A5C;
        transition: .4s ease; }
      nav .navbar .name a:hover {
        text-decoration: none;
        color: #F69679 !important;
        transition: .4s ease; }
      nav .navbar .name a:active {
        text-decoration: none;
        color: #FFD64B !important;
        transition: .4s ease; }
      nav .navbar .name a:visited {
        text-decoration: none;
        color: #F37A5C; }
    nav .navbar .icons {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      margin: 9px 25px 0 0; }
      nav .navbar .icons a {
        margin-left: 30px;
        height: 31px;
        color: #F37A5C;
        position: relative; }
        nav .navbar .icons a svg {
          height: 31px;
          display: block; }
        nav .navbar .icons a .overlay {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          height: 100%;
          width: 100%;
          opacity: 0;
          transition: .4s ease;
          background-color: #FFE9E3; }
          nav .navbar .icons a .overlay .label {
            font-size: 13px;
            font-weight: 700;
            letter-spacing: .5px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%); }
        nav .navbar .icons a:hover .overlay {
          opacity: 1; }
      nav .navbar .icons a:hover {
        color: #F37A5C; }
      nav .navbar .icons a:visited {
        color: #F37A5C; }
      nav .navbar .icons a:active {
        color: #FFD64B; }
  nav .sidebar {
    background: #FFE9E3;
    border-left: 20px solid #FFE9E3;
    padding-right: 20px;
    height: 100vh;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    right: calc(-100vw - 20px);
    width: calc(100vw - 40px);
    z-index: 3;
    -webkit-transition: right 0.6s ease-out;
    -moz-transition: right 0.6s ease-out;
    transition: right 0.4s ease-out;
    display: block; }
    nav .sidebar a {
      text-decoration: none; }
    nav .sidebar a:active {
      text-decoration: none; }
    nav .sidebar a:hover {
      text-decoration: none; }
    nav .sidebar a:visited {
      text-decoration: none; }
    nav .sidebar .topbit-container {
      position: fixed;
      top: 0;
      width: calc(100% - 40px);
      height: 50px;
      background-color: #FFE9E3; }
      nav .sidebar .topbit-container .sidebar-topbit {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; }
        nav .sidebar .topbit-container .sidebar-topbit .name {
          margin: 10px 0 0 0px; }
        nav .sidebar .topbit-container .sidebar-topbit .icons {
          margin: 9px 5px 0 0; }
    nav .sidebar .mobile-nav {
      margin: 50px 0 0 0; }
      nav .sidebar .mobile-nav .mobile-link {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        border-top: 2px solid rgba(246, 163, 121, 0.2);
        padding: 10px 0; }
        nav .sidebar .mobile-nav .mobile-link .mobile-nav-icon {
          height: 31px;
          margin: 0 15px 0 0; }
          nav .sidebar .mobile-nav .mobile-link .mobile-nav-icon svg {
            height: 31px; }
      nav .sidebar .mobile-nav a {
        transition: 0.3s; }
        nav .sidebar .mobile-nav a h3 {
          transition: 0.3s;
          color: #F37A5C; }
        nav .sidebar .mobile-nav a svg path {
          fill: #F37A5C;
          transition: 0.3s; }
      nav .sidebar .mobile-nav a:hover {
        transition: 0.3s; }
        nav .sidebar .mobile-nav a:hover h3 {
          transition: 0.3s;
          color: #F69679; }
        nav .sidebar .mobile-nav a:hover svg path {
          fill: #F69679;
          transition: 0.3s; }
      nav .sidebar .mobile-nav a:active {
        transition: 0.3s; }
        nav .sidebar .mobile-nav a:active h3 {
          transition: 0.3s;
          color: #FFD64B; }
        nav .sidebar .mobile-nav a:active svg path {
          fill: #FFD64B;
          transition: 0.3s; }
    nav .sidebar h3 {
      margin: 0 15px 0 0;
      color: #F37A5C;
      font-size: 25px;
      font-weight: 500; }
    nav .sidebar .sidebar-body {
      margin: 10px 0 0 0; }
      nav .sidebar .sidebar-body .project-link {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin: 0 0 20px 0;
        height: 100px; }
        nav .sidebar .sidebar-body .project-link .project-image {
          height: 100px;
          width: 100px;
          background-color: white;
          margin-right: 20px; }
          nav .sidebar .sidebar-body .project-link .project-image img {
            height: 100px;
            width: 100px; }
        nav .sidebar .sidebar-body .project-link .title {
          font-weight: 500;
          font-size: 22px;
          line-height: 24px;
          color: #585F6C;
          padding: 28px 0 4px 0; }
        nav .sidebar .sidebar-body .project-link .type {
          color: #585F6C;
          font-size: 14px;
          font-weight: 500;
          padding: 0;
          letter-spacing: 0.3px; }
      nav .sidebar .sidebar-body .bottom-space {
        margin: 0 0 60px 0; }
    nav .sidebar .sidebar-footer {
      position: fixed;
      bottom: 15px;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      background-color: #FFE9E3;
      width: 300px; }
      nav .sidebar .sidebar-footer .links {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        height: 31px;
        margin-top: 5px;
        border-radius: 3px;
        padding: 4px 0; }
        nav .sidebar .sidebar-footer .links .link {
          margin-right: 17px;
          padding: 0 4px;
          border-radius: 5px; }
          nav .sidebar .sidebar-footer .links .link .icon {
            height: 31px; }
            nav .sidebar .sidebar-footer .links .link .icon svg {
              height: 100%; }
        nav .sidebar .sidebar-footer .links a {
          transition: 0.3s; }
          nav .sidebar .sidebar-footer .links a svg path {
            fill: #F37A5C;
            transition: 0.3s; }
        nav .sidebar .sidebar-footer .links a:hover {
          transition: 0.3s; }
          nav .sidebar .sidebar-footer .links a:hover svg path {
            fill: #F69679;
            transition: 0.3s; }
        nav .sidebar .sidebar-footer .links a:active {
          opacity: 1;
          transition: 0.3s; }
          nav .sidebar .sidebar-footer .links a:active svg path {
            fill: #FFD64B;
            transition: 0.3s; }

.sidebar-open .sidebar {
  right: 0;
  position: fixed; }

.bottom-line {
  background-color: #FFE9E3;
  height: 20px;
  width: 100%;
  z-index: 4;
  bottom: 0;
  position: fixed; }

/*/ / / / / / / / / / / / / / / / / / /
/ / / / / / / / / / / / / / / / / / / /
/ / / / / / / / / / / / / / / / / / /*/
@media only screen and (min-width: 450px) {
  nav .sidebar {
    right: -320px;
    width: 300px; }
    nav .sidebar h3 {
      font-size: 38px;
      font-weight: 300;
      color: #585F6C; }

  .sidebar-topbit .icons .sidebar-toggle-close {
    margin-left: 268px; } }
@media only screen and (max-width: 370px) {
  nav .navbar .icons a {
    margin-left: 17px; } }
/*/ / / / / / / / / / / / / / / / / / /
/ / / / / / / / / / / / / / / / / / / /
/ / / / / / H O M E P A G E / / / / / /
/ / / / / / / / / / / / / / / / / / / /
/ / / / / / / / / / / / / / / / / / /*/
.page {
  border: 20px solid #FFE9E3;
  margin: 0;
  width: auto;
  overflow: hidden; }
  .page .splash {
    height: calc( 100vh - (180px + 40px ) );
    padding: 90px 20px !important;
    background-image: url(../img/splash.svg);
    background-attachment: fixed;
    background-size: cover;
    border-bottom: 20px solid #FFE9E3; }
    .page .splash .intro {
      max-width: 950px;
      margin: 0 auto; }
      .page .splash .intro .splash-text {
        /*      background-size: 1px 1em;
                box-shadow:
                  inset 0 -0.175em $white,
                  inset 0 -0.42em $lighttransp;
                display: inline; */
        margin-bottom: 1em;
        max-width: 600px;
        font-size: 41px;
        font-weight: 500; }
        .page .splash .intro .splash-text .text {
          max-width: 600px; }
      .page .splash .intro p {
        max-width: 430px;
        margin: 0 0 0 auto;
        padding: 13px 20px;
        border-radius: 6px;
        background-color: rgba(152, 164, 184, 0.2);
        font-weight: 300;
        color: #585F6C; }
    .page .splash ::-moz-selection {
      background: none;
      color: #F69679;
      -webkit-text-fill-color: #F69679; }
    .page .splash ::selection {
      background: none;
      color: #F69679;
      -webkit-text-fill-color: #F69679; }
  .page .contact-section {
    background-color: #FFE9E3;
    padding-bottom: 40px !important;
    padding-top: 60px !important; }
  .page .section {
    /*    border-bottom: 20px solid $lightpink; */
    padding: 60px 20px;
    margin: 0 auto; }
    .page .section .copy-1 {
      max-width: 650px;
      margin: 0 auto; }
    .page .section .copy-2 {
      max-width: 500px; }
    .page .section .header1 {
      max-width: 900px;
      display: flex;
      justify-content: flex-end; }
      .page .section .header1 .underline::after {
        content: " ";
        min-width: 20px;
        min-height: 20px;
        border-radius: 5px;
        background-color: #FFE9E3; }
    .page .section .my-services {
      max-width: 900px;
      margin: 0 auto; }
      .page .section .my-services .copy-1 h1 {
        text-align: right; }
      .page .section .my-services .services {
        margin: 20px auto 0 0;
        max-width: 550px; }
        .page .section .my-services .services .service {
          width: 225px;
          margin: 20px 15px;
          padding: 0;
          border-radius: 3px;
          border-top: 2px solid #FFE9E3; }
          .page .section .my-services .services .service .image {
            height: 90px;
            width: 90px;
            margin: -18px 0 0 0; }
            .page .section .my-services .services .service .image img {
              height: 90px;
              width: 90px; }
          .page .section .my-services .services .service .service-name {
            width: 135px;
            font-size: 15px;
            font-weight: 300;
            color: #585F6C;
            text-align: right; }
    .page .section .clients {
      margin: 60px 0 0 0; }
      .page .section .clients .client {
        margin: 0 20px; }
        .page .section .clients .client .image {
          height: 80px;
          width: 200px; }
        .page .section .clients .client .overlay {
          opacity: 1;
          transition: .4s ease;
          background-color: #FFE9E3;
          font-size: 17px;
          color: #F37A5C;
          text-align: center; }
          .page .section .clients .client .overlay .label {
            margin-top: -70px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%); }
        .page .section .clients .client:hover .overlay {
          opacity: 1; }
        .page .section .clients .client .descript {
          font-size: 17px;
          color: #F37A5C;
          text-align: center; }
    .page .section .contact {
      display: block;
      flex-wrap: wrap;
      justify-content: space-between;
      background-color: #FFE9E3; }
      .page .section .contact .col {
        max-width: 430px; }
        .page .section .contact .col .image {
          height: 170px;
          max-width: 350px;
          margin: 0 0 50px 0;
          display: none; }
          .page .section .contact .col .image img {
            height: 170px;
            max-width: 350px; }
        .page .section .contact .col .linkybob {
          margin: 50px 0 0;
          justify-content: flex-start; }
          .page .section .contact .col .linkybob a:active {
            background-color: rgba(255, 214, 75, 0.3);
            box-shadow: 0px 0px 0px 6px rgba(255, 214, 75, 0.3); }
          .page .section .contact .col .linkybob a:hover {
            background-color: #FFFFFF;
            box-shadow: 0px 0px 0px 6px #FFFFFF; }
      .page .section .contact .links {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        height: 31px;
        margin-top: 20px;
        border-radius: 3px;
        padding-top: 4px;
        background-color: #FFE9E3; }
        .page .section .contact .links .link {
          margin-right: 20px;
          padding: 0 4px;
          border-radius: 5px; }
          .page .section .contact .links .link .icon {
            height: 31px; }
            .page .section .contact .links .link .icon img {
              height: 100%; }
        .page .section .contact .links a {
          transition: 0.3s; }
        .page .section .contact .links a:hover {
          opacity: .6;
          transition: 0.3s; }
        .page .section .contact .links a:active {
          opacity: 1;
          background-color: rgba(246, 163, 121, 0.2);
          transition: 0.3s; }
    .page .section .what-i-do {
      margin: 50px auto;
      max-width: 900px; }
      .page .section .what-i-do .copy-1 h1 {
        text-align: right; }
      .page .section .what-i-do .copy {
        margin-top: 50px;
        max-width: 500px;
        padding: 15px 15px 5px;
        border: 2px solid #585F6C;
        border-radius: 3px;
        background-color: rgba(152, 164, 184, 0.2);
        box-shadow: 5px 5px 0 rgba(152, 164, 184, 0.2); }
      .page .section .what-i-do .image {
        margin-top: -30px;
        width: 400px; }
        .page .section .what-i-do .image img {
          height: 240px;
          margin: 0 auto; }
      .page .section .what-i-do .left {
        margin-right: auto; }
      .page .section .what-i-do .right {
        margin-left: auto; }
  .page .home-content {
    z-index: 2; }
    .page .home-content .linkybob {
      margin-top: 0; }

/*/ / / / / / / / / / / / / / / / / / /
/ / / / / / / / / / / / / / / / / / / /
/ / / / / / / / / / / / / / / / / / /*/
@media only screen and (min-width: 450px) {
  .page .splash {
    height: calc( 100vh - (240px + 40px ) );
    padding: 120px 20px !important; }
    .page .splash .intro .splash-text {
      font-size: 48px;
      font-weight: 500;
      max-width: 550px; }
      .page .splash .intro .splash-text .text {
        max-width: 450px;
        margin: 0 auto; }
  .page .section {
    padding: 100px 20px; }
    .page .section .services .service {
      margin: 20px 15px; }
    .page .section .contact .col .image {
      height: 170px;
      display: none; }
      .page .section .contact .col .image img {
        height: 170px; }
    .page .section .what-i-do .copy {
      padding: 25px 35px 15px; }
    .page .section .what-i-do .image img {
      height: 270px; } }
@media only screen and (min-width: 768px) {
  #transport::before {
    margin: -50px 0 0 -100px;
    content: " ";
    background-image: url(../img/illus/splash/rocket.svg);
    height: 100px;
    width: 100px;
    position: absolute; }

  #transport::after {
    margin: 40px 0 0 40px;
    content: " ";
    background-image: url(../img/illus/splash/plane.svg);
    height: 100px;
    width: 100px;
    position: absolute; }

  #veg::before {
    margin: -50px 0 0 -150px;
    content: " ";
    background-image: url(../img/illus/splash/bananas.svg);
    height: 100px;
    width: 100px;
    position: absolute; }

  #veg::after {
    margin: 70px 0 0 250px;
    content: " ";
    background-image: url(../img/illus/splash/leaf.svg);
    height: 100px;
    width: 100px;
    position: absolute; }

  .page .splash {
    height: calc( 100vh - (260px + 40px ) );
    padding: 130px 20px !important; }
    .page .splash .intro .splash-text {
      font-size: 74px;
      font-weight: 300;
      max-width: 600px; }
      .page .splash .intro .splash-text .text {
        max-width: 600px; }
  .page .section {
    padding: 100px 50px; }
    .page .section .copy-2 {
      max-width: 530px; }
    .page .section .services #lineguy::before {
      content: " ";
      background-color: #FFE9E3;
      height: 2px;
      width: 2000px;
      margin: -2px 0 0 -1800px; }
    .page .section .services .service {
      margin: 20px 25px; }
    .page .section .contact {
      display: flex; }
      .page .section .contact .col {
        max-width: 350px; }
        .page .section .contact .col .image {
          height: 170px;
          display: block; }
          .page .section .contact .col .image img {
            height: 170px; }
      .page .section .contact .links {
        margin-top: 0;
        justify-content: flex-end; }
    .page .section .what-i-do .copy {
      padding: 35px 45px 25px; } }
@media only screen and (min-width: 1000px) {
  .page .section .contact .col {
    max-width: 450px; }
    .page .section .contact .col .image {
      margin: 0 0 20px 0; }
  .page .section .what-i-do .copy {
    max-width: 550px; }
    .page .section .what-i-do .copy p {
      max-width: 450px; }
    .page .section .what-i-do .copy h2 {
      max-width: 500px; }
  .page .section .what-i-do .image {
    margin-top: -120px; }
  .page .section .what-i-do .left p {
    margin-right: auto; }
  .page .section .what-i-do .left h2 {
    margin-left: auto;
    text-align: right; }
  .page .section .what-i-do .right p {
    margin-left: auto; }
  .page .section .what-i-do .right h2 {
    margin-right: auto; } }
@media only screen and (max-width: 400px) {
  .page .splash .intro .splash-text {
    font-size: 36px;
    font-weight: 500; }
  .page .section {
    padding: 50px 20px; }
    .page .section .what-i-do .image img {
      height: 190px;
      min-width: 100px; } }
/*/ / / / / / / / / / / / / / / / / / /
/ / / / / / / / / / / / / / / / / / / /
/ / / / / / P R O F I L E / / / / / / /
/ / / / / / / / / / / / / / / / / / / /
/ / / / / / / / / / / / / / / / / / /*/
.prof-header {
  max-width: 600px;
  margin: 0 auto 20px; }
  .prof-header .name {
    margin: 20px 0 0 0;
    color: #F69679; }
  .prof-header .links {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 31px;
    margin-top: 0px;
    border-radius: 3px;
    padding: 4px 14px;
    background-color: #FFE9E3; }
    .prof-header .links .link {
      margin-right: 20px;
      padding: 0 4px;
      border-radius: 5px; }
      .prof-header .links .link .icon {
        height: 31px; }
        .prof-header .links .link .icon img {
          height: 100%; }
    .prof-header .links a {
      transition: 0.3s; }
    .prof-header .links a:hover {
      opacity: .6;
      transition: 0.3s; }
    .prof-header .links a:active {
      opacity: 1;
      background-color: rgba(246, 163, 121, 0.2);
      transition: 0.3s; }

.prof-body {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .prof-body .about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    order: -1;
    margin: 0 auto 40px; }
    .prof-body .about .bio {
      max-width: 840px;
      margin-right: 0; }
      .prof-body .about .bio .cat-name {
        font-weight: 700;
        font-size: 17px;
        letter-spacing: 0.4px;
        padding-bottom: 3px;
        border-bottom: 2px solid #F69679;
        margin-bottom: 10px;
        color: #F69679; }
      .prof-body .about .bio .prof-pic {
        width: 200px;
        height: 200px;
        float: none;
        margin: 20px auto;
        border-radius: 8px;
        border: 2px solid #F69679; }
        .prof-body .about .bio .prof-pic img {
          width: 100%;
          border-radius: 6px; }
      .prof-body .about .bio .descript {
        width: 100%; }
  .prof-body .ec {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto; }
    .prof-body .ec .ec-cat {
      max-width: 260px;
      margin: 0 15px; }
      .prof-body .ec .ec-cat .cat-name {
        font-weight: 700;
        font-size: 17px;
        letter-spacing: 0.4px;
        padding-bottom: 3px;
        border-bottom: 2px solid #F69679;
        margin-bottom: 10px;
        color: #F69679; }
      .prof-body .ec .ec-cat .ec-item {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-bottom: 25px; }
        .prof-body .ec .ec-cat .ec-item .label {
          width: 50px;
          font-size: 12px;
          margin: 0 10px 6px 0;
          font-weight: 300;
          color: #9CA5B4; }
        .prof-body .ec .ec-cat .ec-item .ec-info {
          width: 200px; }
          .prof-body .ec .ec-cat .ec-item .ec-info .title {
            font-size: 12.5px;
            letter-spacing: 0.2px;
            line-height: 15px;
            margin-bottom: 4px;
            font-weight: 300; }
          .prof-body .ec .ec-cat .ec-item .ec-info .credit {
            font-weight: 500;
            font-size: 9px;
            line-height: 12px;
            text-transform: uppercase;
            letter-spacing: 0.5px;
            margin: 0; }
            .prof-body .ec .ec-cat .ec-item .ec-info .credit a {
              padding: 1px 4px; }

/*/ / / / / / / / / / / / / / / / / / /
/ / / / / / / / / / / / / / / / / / / /
/ / / / / / / / / / / / / / / / / / /*/
@media only screen and (min-width: 944px) {
  .prof-header {
    max-width: 840px;
    margin: 0 auto 30px; }

  .prof-body {
    margin: 0 auto;
    max-width: 840px; }
    .prof-body .about {
      margin: 0;
      order: 0; }
      .prof-body .about .bio {
        max-width: 500px; }
    .prof-body .ec {
      display: block;
      margin: 0; }
      .prof-body .ec .ec-cat {
        margin: 0; } }
@media only screen and (min-width: 450px) {
  .prof-header .name {
    margin: 0; }

  .prof-body .about .bio .prof-pic {
    width: 200px;
    height: 200px;
    float: left;
    margin: 10px 30px 10px 0;
    border-radius: 8px;
    border: 2px solid #F69679; }
    .prof-body .about .bio .prof-pic img {
      width: 100%;
      border-radius: 6px; } }
@media only screen and (max-width: 310px) {
  .prof-header .links .link .icon {
    height: 31px;
    margin-right: 18px; } }
/*/ / / / / / / / / / / / / / / / / / /
/ / / / / / / / / / / / / / / / / / / /
/ / / / / / P R O J E C T S / / / / / /
/ / / / / / / / / / / / / / / / / / / /
/ / / / / / / / / / / / / / / / / / /*/
.project-nav nav {
  background-color: #e8e8e8; }
  .project-nav nav .navbar .name a {
    color: #3C3C3C; }
  .project-nav nav .navbar .name a:hover {
    color: #F69679 !important; }
  .project-nav nav .navbar .name a:active {
    color: #F69679 !important; }
  .project-nav nav .navbar .name a:visited {
    color: #3C3C3C; }
  .project-nav nav .navbar .icons a {
    color: #3C3C3C; }
    .project-nav nav .navbar .icons a .overlay {
      background-color: #e8e8e8; }
    .project-nav nav .navbar .icons a svg path {
      fill: #3C3C3C; }
  .project-nav nav .navbar .icons a:hover {
    color: #3C3C3C; }
  .project-nav nav .navbar .icons a:visited {
    color: #3C3C3C; }
  .project-nav nav .navbar .icons a:active {
    color: #F69679; }
  .project-nav nav .sidebar {
    background: #e8e8e8;
    border-left: 20px solid #e8e8e8; }
    .project-nav nav .sidebar .mobile-nav .mobile-link {
      border-top: 2px solid rgba(60, 60, 60, 0.12); }
      .project-nav nav .sidebar .mobile-nav .mobile-link .mobile-nav-icon svg path {
        fill: #3C3C3C; }
    .project-nav nav .sidebar .mobile-nav a {
      transition: 0.3s; }
      .project-nav nav .sidebar .mobile-nav a h3 {
        transition: 0.3s;
        color: #3C3C3C; }
      .project-nav nav .sidebar .mobile-nav a svg path {
        fill: #3C3C3C;
        transition: 0.3s; }
    .project-nav nav .sidebar .mobile-nav a:hover {
      transition: 0.3s; }
      .project-nav nav .sidebar .mobile-nav a:hover h3 {
        transition: 0.3s;
        color: #646464; }
      .project-nav nav .sidebar .mobile-nav a:hover svg path {
        fill: #646464 !important;
        transition: 0.3s; }
    .project-nav nav .sidebar .mobile-nav a:active {
      transition: 0.3s; }
      .project-nav nav .sidebar .mobile-nav a:active h3 {
        transition: 0.3s;
        color: #F69679; }
      .project-nav nav .sidebar .mobile-nav a:active svg path {
        fill: #F69679 !important;
        transition: 0.3s; }
    .project-nav nav .sidebar h3 {
      color: #3C3C3C; }
    .project-nav nav .sidebar .sidebar-body .title {
      color: #3C3C3C; }
    .project-nav nav .sidebar .sidebar-body .type {
      color: #3C3C3C; }
  .project-nav nav .sidebar-footer .links .icon svg path {
    fill: #3C3C3C; }
  .project-nav nav .sidebar-footer .links a {
    transition: 0.3s; }
    .project-nav nav .sidebar-footer .links a svg path {
      fill: #3C3C3C;
      transition: 0.3s; }
  .project-nav nav .sidebar-footer .links a:hover {
    transition: 0.3s; }
    .project-nav nav .sidebar-footer .links a:hover svg path {
      fill: #646464;
      transition: 0.3s; }
  .project-nav nav .sidebar-footer .links a:active {
    opacity: 1;
    transition: 0.3s; }
    .project-nav nav .sidebar-footer .links a:active svg path {
      fill: #F69679;
      transition: 0.3s; }

.bottom-line-project {
  background-color: #e8e8e8;
  height: 20px;
  width: 100%;
  z-index: 4;
  bottom: 0;
  position: fixed; }

.project {
  color: #3C3C3C;
  border: 20px solid #e8e8e8; }
  .project p a {
    background-color: rgba(60, 60, 60, 0.12);
    color: #3C3C3C;
    text-decoration: none;
    padding: 0 5px;
    border-radius: 5px;
    transition: .4s ease; }
  .project p a:hover {
    color: #646464;
    transition: .4s ease; }
  .project p a:active {
    transition: .4s ease;
    color: #F69679; }
  .project .section {
    padding: 50px 20px; }
    .project .section h1 {
      max-width: 600px;
      color: #3C3C3C;
      margin: 40px auto 0;
      font-size: 38px;
      line-height: 44px; }
    .project .section h2 {
      max-width: 600px;
      margin: 42px auto 20px;
      color: #3C3C3C;
      font-size: 20px;
      text-transform: uppercase;
      font-weight: 900;
      letter-spacing: .7px; }
    .project .section h3 {
      max-width: 600px;
      margin: 20px auto 0;
      color: #3C3C3C;
      font-size: 20px;
      text-transform: uppercase;
      font-weight: 900;
      letter-spacing: .7px; }
    .project .section .image-cont {
      display: block;
      max-width: 1000px;
      margin: 40px auto; }
      .project .section .image-cont .image-1 {
        width: 100%; }
        .project .section .image-cont .image-1 img {
          width: 100%; }
      .project .section .image-cont .image-2 {
        width: 100%;
        margin-bottom: 40px; }
        .project .section .image-cont .image-2 img {
          width: 100%; }
      .project .section .image-cont .image-narrow {
        max-width: 600px;
        margin-bottom: 40px; }
        .project .section .image-cont .image-narrow img {
          width: 100%; }
      .project .section .image-cont .caption {
        margin: 10px auto 0;
        max-width: 600px;
        font-size: 15px;
        line-height: 21px;
        font-weight: 300;
        text-align: center;
        color: #646464; }
    .project .section .paragraph {
      margin: 40px auto;
      max-width: 600px; }
    @media only screen and (min-width: 980px) {
      .project .section .p-2col {
        margin: 40px auto;
        max-width: 850px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap; }
        .project .section .p-2col .col {
          max-width: 400px;
          margin: 0 10px 20px; } }
    .project .section .carousel-box {
      width: 100%;
      margin: 40px 0 60px; }
      .project .section .carousel-box .carousel {
        margin: 0 auto;
        max-width: 900px; }
        .project .section .carousel-box .carousel .image {
          margin: 0 auto;
          max-width: 900px;
          height: 100%;
          height: auto; }
          .project .section .carousel-box .carousel .image img {
            max-width: 100%;
            margin: 0 auto;
            height: auto; }
      .project .section .carousel-box .caption {
        margin: 35px auto 0;
        max-width: 600px;
        font-size: 15px;
        line-height: 21px;
        font-weight: 300;
        text-align: center;
        color: #646464; }
        .project .section .carousel-box .caption a {
          background-color: rgba(60, 60, 60, 0.12);
          color: #3C3C3C;
          text-decoration: none;
          padding: 0 5px;
          border-radius: 5px;
          transition: .4s ease; }
        .project .section .carousel-box .caption a:hover {
          color: #646464;
          transition: .4s ease; }
        .project .section .carousel-box .caption a:active {
          transition: .4s ease;
          color: #F69679; }
    .project .section .linkybob {
      max-width: 600px;
      margin: 40px auto;
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap; }
      .project .section .linkybob .link-box {
        border: 2px solid #3C3C3C;
        border-radius: 7px;
        padding: 7px 13px;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap; }
        .project .section .linkybob .link-box .link-text {
          font-size: 18px;
          text-transform: uppercase;
          font-weight: 500;
          padding: 6px 10px 0 0; }
        .project .section .linkybob .link-box .link-arrow {
          height: 31px; }
          .project .section .linkybob .link-box .link-arrow img {
            height: 31px; }
      .project .section .linkybob a:link {
        text-decoration: none;
        color: #3C3C3C;
        background-color: none;
        transition: .4s ease; }
      .project .section .linkybob a:active {
        text-decoration: none;
        color: #3C3C3C;
        background-color: #FFE9E3;
        transition: .4s ease;
        box-shadow: 0px 0px 0px 6px #FFE9E3; }
      .project .section .linkybob a:hover {
        text-decoration: none;
        color: #3C3C3C;
        background-color: rgba(60, 60, 60, 0.12);
        transition: .4s ease;
        box-shadow: 0px 0px 0px 6px rgba(60, 60, 60, 0.12); }
      .project .section .linkybob a:visited {
        text-decoration: none;
        color: #3C3C3C;
        transition: .4s ease; }

/*/ / / / / / / / / / / / / / / / / / /
/ / / / / / / / / / / / / / / / / / / /
/ / / / / / / / / / / / / / / / / / /*/
@media only screen and (min-width: 450px) {
  .project .section h1 {
    font-size: 45px;
    line-height: 50px; }
  .project .section h2 {
    font-size: 22px; }
  .project .section h3 {
    margin: 15px auto 0;
    font-size: 22px; }
  .project .section .image-cont {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .project .section .image-cont .image-1 {
      width: 100%; }
      .project .section .image-cont .image-1 img {
        width: 100%; }
    .project .section .image-cont .image-2 {
      width: 47%;
      margin-bottom: 0; }
      .project .section .image-cont .image-2 img {
        width: 100%; }
  .project .section .linkybob .link-box {
    padding: 10px 18px; }
    .project .section .linkybob .link-box .link-text {
      font-size: 22px;
      font-weight: 500;
      padding: 3px 8px 0 0; }
    .project .section .linkybob .link-box .link-arrow {
      height: 31px; }
      .project .section .linkybob .link-box .link-arrow img {
        height: 31px; } }
@media only screen and (min-width: 768px) {
  .project .section {
    padding: 80px 50px 100px; }
    .project .section h1 {
      font-size: 55px;
      line-height: 60px; }
    .project .section h2 {
      font-size: 25px; }
    .project .section h3 {
      font-size: 25px;
      font-weight: 900; }
    .project .section .image-cont {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; }
      .project .section .image-cont .image-1 {
        width: 100%; }
        .project .section .image-cont .image-1 img {
          width: 100%; }
      .project .section .image-cont .image-2 {
        width: 47%;
        margin-bottom: 0; }
        .project .section .image-cont .image-2 img {
          width: 100%; }
    .project .section .linkybob .link-box {
      padding: 12px 18px; }
      .project .section .linkybob .link-box .link-text {
        font-size: 24px;
        font-weight: 500;
        padding: 2px 10px 0 0; }
      .project .section .linkybob .link-box .link-arrow {
        height: 31px; }
        .project .section .linkybob .link-box .link-arrow img {
          height: 31px; } }
@media only screen and (max-width: 360px) {
  .project .section {
    padding: 50px 20px; }
    .project .section h1 {
      font-size: 32px;
      line-height: 38px; }
    .project .section h2 {
      margin: 60px auto 20px; }
    .project .section h3 {
      margin: 15px auto 0; }
    .project .section .linkybob .link-box {
      padding: 7px 13px; }
      .project .section .linkybob .link-box .link-text {
        font-size: 16px;
        font-weight: 500;
        padding: 4px 10px 0 0; }
      .project .section .linkybob .link-box .link-arrow {
        height: 25px; }
        .project .section .linkybob .link-box .link-arrow img {
          height: 25px; } }
/*/ / / / / / / / / / / / / / / / / / /
/ / / / / / / / / / / / / / / / / / / /
/ / / C U S T O M I Z A T I O N S / / /
/ / / / / / / / / / / / / / / / / / / /
/ / / / / / / / / / / / / / / / / / /*/
.sleeping-bees {
  background-image: url(../img/projects/sleeping-bees/bg.jpg);
  background-attachment: fixed; }
  .sleeping-bees nav {
    box-shadow: 0px 1px 0px #d9d9d9; }
    .sleeping-bees nav .navbar .sidebar {
      background: #e8e8e8;
      border-left: 20px solid transparent; }
  .sleeping-bees .bottom-line-project {
    background-color: transparent;
    height: 20px;
    width: 100%;
    z-index: 4;
    bottom: 0;
    position: fixed; }
  .sleeping-bees .project {
    color: #3C3C3C;
    border: 20px solid transparent; }
  @media only screen and (min-width: 450px) {
    .sleeping-bees nav .sidebar {
      width: 280px; } }

.midi-jardin {
  background-image: url(../img/projects/midi-jardin/bg.png);
  background-size: contain;
  background-repeat: no-repeat; }

.sprites-n-dice {
  background-image: url(../img/projects/sprites-n-dice/bg.png);
  background-size: contain;
  background-repeat: no-repeat; }
