/*/ / / / / / / / / / / / / / / / / / /
/ / / / / / / / / / / / / / / / / / / /
/ / / M i l o's C l u b h o u s e / / /
/ / / / / / / / / / / / / / / / / / / /
/ / / / / / / / / / / / / / / / / / /*/

@import 'colors';
@import 'mixins';

/*/ / / / / / / / / / / / / / / / / / /
/ / / / / / / / / / / / / / / / / / / /
/ / / / / / / G E N E R A L / / / / / /
/ / / / / / / / / / / / / / / / / / / /
/ / / / / / / / / / / / / / / / / / /*/

body {
  width: 100%;
  margin: 0;
  font-family: "museo-sans-rounded", Verdana, Geneva, sans-serif;
  color: $dark;
  overflow: auto;
}

.flexmom {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.flexbaby {
  flex-grow: 0;
}

h1 {
  font-weight: 500;
  color: $pink;
  font-size: 42px;
  margin: 0 0 40px 0;
}

h2 {
  font-weight: 300;
  color: $dark;
  font-size: 38px;
  margin: 0 0 15px 0;
}

p {
  font-weight: 300;
  font-size: 20px;
  line-height: 31px;
  margin: 0 0 15px 0;
  
  a {
    background-color: $pinktransp;
    color: $dark;
    text-decoration: none;
    padding: 0 5px;
    border-radius: 5px;
    transition: .4s ease;
  }
  a:hover {
    color: $darkpink;
    transition: .4s ease;
  }
  a:active {
    transition: .4s ease;
    color: $yellow;
  }
  a:visited {
    
  }
}

::-moz-selection { 
  background: $lightpink;
  color: $darkpink;
}
::selection { 
  background: $lightpink; 
  color: $darkpink;
}
  
.last {
    border-bottom: 0 solid !important;
  }

.first {
  padding: 120px 20px 100px !important;
}

.not-mobile{
  display: none;
}

.hide {
  display: none;
}

/*/ / / / / / / / / / / / / / / / / / /
/ / / / / / / / / / / / / / / / / / / /
/ / / / / / / / / / / / / / / / / / /*/

@media only screen and (min-width: 450px) {
  
  h1 {
    font-size: 56px;
  }
  
   h2 {
    font-size: 42px;
  }
  
  .mobile {
    display: none;
  }
  
  .not-mobile {
    display: inherit;
  }
  
}

@media only screen and (min-width: 768px) {
  
  h1 {
    font-size: 74px;
  }
  
  h2 {
    font-size: 42px;
  }
  
  .first {
    padding: 150px 50px 100px !important;
  }
  
}

@media only screen and (max-width: 360px) {

  h1 {
    font-size: 32px;
    line-height: 40px;
  }

  h2 {
    font-size: 30px;
  }

  p {
    font-size: 17px;
    line-height: 26px;
    margin: 0 0 5px 0;
  }
  
}



/*/ / / / / / / / / / / / / / / / / / /
/ / / / / / / / / / / / / / / / / / / /
/ / / / / N A V I G A T I O N / / / / /
/ / / / / / / / / / / / / / / / / / / /
/ / / / / / / / / / / / / / / / / / /*/

nav {
  width: 100%;
  height: 50px;
  background-color: $lightpink;
  padding: 0 0px;
  z-index: 4;
  position: fixed;
  top: 0;
  
  .navbar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  
    .name {
      margin: 10px 0 0 25px;
      font-size: 25px;
      font-weight: 500;
      letter-spacing: .5px;

      a {
        text-decoration: none; 
        color: $darkpink;
        transition: .4s ease;
      }
      a:hover {
        text-decoration: none; 
        color: $pink !important;
        transition: .4s ease;
      }
      a:active {
        text-decoration: none; 
        color: $yellow !important;
        transition: .4s ease;
      }
      a:visited {
        text-decoration: none; 
        color: $darkpink;
      }
    }

    .icons {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      margin: 9px 25px 0 0;

      a {
        margin-left: 30px;
        height: 31px;
        color: $darkpink;
        position: relative;

        svg {
          height: 31px;  
          display: block;
        }

        .overlay {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          height: 100%;
          width: 100%;
          opacity: 0;
          transition: .4s ease;
          background-color: $lightpink;

          .label {
            font-size: 13px;
            font-weight: 700;
            letter-spacing: .5px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
          }
        }

        &:hover .overlay {
          opacity: 1;
        }
      }  

      a:hover {
        color: $darkpink;
      }
      a:visited {
        color: $darkpink;
      }
      a:active {
        color: $yellow;
      }
    }
  }
  
  .sidebar {
    background: $lightpink;
    border-left: 20px solid $lightpink;
    padding-right: 20px;
    height: 100vh;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    right: calc(-100vw - 20px);
    width: calc(100vw - 40px);
    z-index: 3;
    -webkit-transition: right 0.6s ease-out;
    -moz-transition: right 0.6s ease-out;
    transition: right 0.4s ease-out;
    display: block;
    
    a {
      text-decoration: none;
    }
    a:active {
      text-decoration: none;
    }
    a:hover {
      text-decoration: none;
    }
    a:visited {
      text-decoration: none;
    }
    
    .sidebar-topbit {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      
      .name {
        margin: 10px 0 0 0px;
      }

      .icons {
        margin: 9px 5px 0 0;
      }
    }
    
    .mobile-nav {
      margin: 10px 0 0 0;

      .mobile-link {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        border-top: 2px solid $pinktransp;
        padding: 10px 0;

        .mobile-nav-icon {
          height: 31px;
          margin: 0 15px 0 0;

          svg {
            height: 31px;
          }
        }
      }
      
      a {
        transition: 0.3s;
          h3 {
            transition: 0.3s;
            color: $darkpink;
          }
          svg {
            path {
              fill: $darkpink;
              transition: 0.3s;
            }
          }
        }
        a:hover {
          transition: 0.3s;
          h3 {
            transition: 0.3s;
            color: $pink;
          }
          svg {
            path {
              fill: $pink;
              transition: 0.3s;
            }
          }
        }
        a:active {
          transition: 0.3s;
          h3 {
            transition: 0.3s;
            color: $yellow;
          }
          svg {
            path {
              fill: $yellow;
              transition: 0.3s;
            }
          }
        }
    }
    
    h3 {
      margin: 0 15px 0 0;
      color: $darkpink;
      font-size: 25px;
      font-weight: 500;
      
    }
    
    .sidebar-body {
      margin: 10px 0 0 0;

      .project-link{ 
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin: 0 0 20px 0;
        height: 100px;

        .project-image {
          height: 100px;
          width: 100px;
          background-color: white;
          margin-right: 20px;

          img {
            height: 100px;
            width: 100px;
          }
        }

        .title {
          font-weight: 500;
          font-size: 22px;
          line-height: 24px;
          color: $dark;
          padding: 28px 0 4px 0;
        }

        .type {
          color: $dark;
          font-size: 14px;
          font-weight: 500;
          padding: 0;
          letter-spacing: 0.3px;
        }
      }
    }
    
    .sidebar-footer {
      position: absolute;
      bottom: 15px;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      
      .links {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        height: 31px;
        margin-top: 0;
        border-radius: 3px;
        padding: 4px 0;

        .link {
          margin-right: 17px;
          padding: 0 4px;
          border-radius: 5px;

          .icon {
            height: 31px;

            svg{
              height: 100%;
            }
          }
        }
        a {
          transition: 0.3s;
          svg {
            path {
              fill: $darkpink;
              transition: 0.3s;
            }
          }
        }
        a:hover {
          transition: 0.3s;
          svg {
            path {
              fill: $pink;
              transition: 0.3s;
            }
          }
        }
        a:active {
          opacity: 1;
          transition: 0.3s;
          svg {
            path {
              fill: $yellow;
              transition: 0.3s;
            }
          }
        }
        
      }
    }
  }
} 

.sidebar-open .sidebar {
  right: 0;
  position: fixed;
}

.bottom-line {
  background-color: $lightpink;
  height: 20px;
  width: 100%;
  z-index: 4;
  bottom: 0;
  position: fixed;
}

/*/ / / / / / / / / / / / / / / / / / /
/ / / / / / / / / / / / / / / / / / / /
/ / / / / / / / / / / / / / / / / / /*/

@media only screen and (min-width: 450px) {
  
  nav{

    .sidebar {
      right: -320px;
      width: 300px;
      
      h3 {
        font-size: 38px;
        font-weight: 300;
        color: $dark;
      }
    }
  }
  
  
  
  .sidebar-topbit {
    
    .icons {
      
      .sidebar-toggle-close {
        margin-left: 268px;
      }
    }
  }
  
}


@media only screen and (max-width: 370px) {
 
  nav {
    
    .navbar {

     .icons {

      a {
        margin-left: 17px;
        }
      }
    }
  }

}





/*/ / / / / / / / / / / / / / / / / / /
/ / / / / / / / / / / / / / / / / / / /
/ / / / / / H O M E P A G E / / / / / /
/ / / / / / / / / / / / / / / / / / / /
/ / / / / / / / / / / / / / / / / / /*/


.page {
  border: 20px solid $lightpink;
  margin: 0;
  width: auto;
  overflow: hidden;

  .section{
    border-bottom: 20px solid $lightpink;
    padding: 60px 20px;
    margin: 0 auto;
    
    .intro {
      max-width: 750px;
      margin: 0 auto;
      
      h1 {
        max-width: 650px;
      }
      
      p {
        max-width: 430px;
        margin: 0 0 0 auto;
        padding: 13px 20px;
        border-radius: 6px;
        background-color: $yellowtransp;
        font-weight: 300;
        color: $darkpink;
      }
    }
    
    .copy-1 {
      max-width: 650px;
      margin: 0 auto;
    }
    
    .copy-2 {
      max-width: 500px;
    }
    
    .services {
      margin: 20px auto 0;
      max-width: 800px;
      
      .service {
        width: 155px;
        margin: 20px 7px;
        
        .image {
          height: 100px;
          width: 100px;
          margin: 0 auto;
          
          img {
          height: 100px;
          width: 100px;
          }
        }
        
        .service-name{
          font-size: 17px;
          font-weight: 300;
          color: $darkpink;
          text-align: center;
        }
      }
    }
    
    .clients {
      margin: 60px 0 0 0;
      
      .client {
        margin: 0 20px;
        
        .image {
          height: 80px;
          width: 200px;
        }
        
        .overlay {
          opacity: 1;
          transition: .4s ease;
          background-color: $lightpink;
          font-size: 17px;
          color: $darkpink;
          text-align: center;
          
          .label {
            margin-top: -70px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
          }
        }
        
        &:hover .overlay {
          opacity: 1;
        }
        
        .descript {
          font-size: 17px;
          color: $darkpink;
          text-align: center;
          
        }
      }
    }
    
    .contact {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      
      .image {
        height: 160px;
        max-width: 350px;
        margin: 0 20px 20px;
        
        img {
          height: 160px;
          max-width: 350px;
          
        }
      }
    }
    
    .research {
      
      .image {
        
        img {
          height: 240px;
          margin: 0 auto;
        }
      }
    }
  }
}
  
  
/*/ / / / / / / / / / / / / / / / / / /
/ / / / / / / / / / / / / / / / / / / /
/ / / / / / / / / / / / / / / / / / /*/

@media only screen and (min-width: 450px) {
  
.page {

  .section{
    padding: 100px 20px;
    
    .services {
      
      .service {
        margin: 20px 15px;
        
        .image {
          height: 115px;
          width: 115px;
          
          img {
          height: 115px;
          width: 115px;
          }
        }
      }
    }
  
    
 .contact {

    .image {
      height: 180px;

      img {
        height: 180px;

      }
    }
  }
    
    .research {
      
      .image {
        
        img {
          height: 270px;
        }
      }
    }
  }
}
  
}

@media only screen and (min-width: 768px) {
  
.page {

  .section{
    padding: 100px 50px;
    
    .copy-2 {
      max-width: 530px;
    }
    
    .services {
      
      .service {
        margin: 20px 25px;
        
        .image {
          height: 115px;
          width: 115px;
          
          img {
          height: 115px;
          width: 115px;
          }
        }
      }
    }
  
    
 .contact {

    .image {
      height: 180px;

      img {
        height: 180px;

      }
    }
  }
   .research {
      
      .image {
        margin: 0 20px;
        
        img {
        }
      }
    } 
  }
}
  
}

@media only screen and (max-width: 400px) {
  
 .page {
   
   .section{
    padding: 50px 20px;

     .research {
    
        .image {

          img {
            height: 190px;
            min-width: 100px;
          }
        }
      }
    }
  }
  
}


  
/*/ / / / / / / / / / / / / / / / / / /
/ / / / / / / / / / / / / / / / / / / /
/ / / / / / P R O F I L E / / / / / / /
/ / / / / / / / / / / / / / / / / / / /
/ / / / / / / / / / / / / / / / / / /*/

.prof-header{ 
  max-width: 600px;
  margin: 0 auto 20px;
  
  .name {
    margin: 20px 0 0 0;
  }
  
  .links {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 31px;
    margin-top: 0px;
    border-radius: 3px;
    padding: 4px 14px;
    background-color: $lightpink;

    .link {
      margin-right: 20px;
      padding: 0 4px;
      border-radius: 5px;

      .icon {
        height: 31px;

        img{
          height: 100%;
        }
      }
    }
    
    a {
      transition: 0.3s;
      
    }
    a:hover {
      opacity: .6;
      transition: 0.3s;
    }
    a:active {
      opacity: 1;
      background-color: $pinktransp;
      transition: 0.3s;
    }
  }
}

.prof-body {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  .about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    order: -1;
    margin: 0 auto 40px;
    
    .bio {
      max-width: 840px;
      margin-right: 0;
      
      .cat-name {
        font-weight: 700;
        font-size: 18px;
        padding-bottom: 3px;
        border-bottom: 2px solid $pink;
        margin-bottom: 10px;
        color: $pink;
      }
    
      .prof-pic {
        width: 200px;
        height: 200px;
        float: none;
        margin: 20px auto;
        border-radius: 8px;
        border: 2px solid $pink;
        
        img {
          width: 100%;
          border-radius: 6px;
          
        }
      }
      .descript {
        width: 100%;
      }
    }
  }

  .ec {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;

    .ec-cat {
      max-width: 260px;
      margin: 0 15px;

      .cat-name {
        font-weight: 700;
        font-size: 18px;
        padding-bottom: 3px;
        border-bottom: 2px solid $pink;
        margin-bottom: 10px;
        color: $pink;
      }

      .ec-item {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-bottom: 25px;

        .label{
          width: 50px;
          font-size: 12px;
          margin: 0 10px 6px 0;
          font-weight: 300;
          color: $light;
        }

        .ec-info {
          width: 200px;

          .title {
            font-size: 12.5px;
            letter-spacing: 0.2px;
            line-height: 15px;
            margin-bottom: 4px;
            font-weight: 300;
          }

          .credit {
            font-weight: 500;
            font-size: 9px;
            line-height: 12px;
            text-transform: uppercase;
            letter-spacing: 0.5px;
            margin: 0;

            a {
              padding: 1px 4px;
            }
          }
        }
      }
    }
  }
}



/*/ / / / / / / / / / / / / / / / / / /
/ / / / / / / / / / / / / / / / / / / /
/ / / / / / / / / / / / / / / / / / /*/


@media only screen and (min-width: 944px) {
  

  .prof-header{ 
    max-width: 840px;
    margin: 0 auto 30px;
  }
  
  .prof-body {
    margin: 0 auto;
    max-width: 840px;
    
    .about {
      margin: 0;
      order: 0;
      
      .bio {
        max-width: 500px;
      }
    }
    
    .ec {
      display: block;
      margin: 0;

      .ec-cat {
        margin: 0;
      }
    }
  }
  
}


@media only screen and (min-width: 450px) {
  
  .prof-header {
    
    .name {
      margin: 0;
    }
  }
  
  .prof-body {
    .about {
      .bio {
        .prof-pic {
          width: 200px;
          height: 200px;
          float: left;
          margin: 10px 30px 10px 0;
          border-radius: 8px;
          border: 2px solid $pink;

          img {
            width: 100%;
            border-radius: 6px;
          }
        }
      }
    }
  }
  
}


@media only screen and (max-width: 310px) {
  
  .prof-header{ 
    .links {
      .link {
        .icon {
          height: 31px;
          margin-right: 18px;
        }
      }
    }
  }
  
}





/*/ / / / / / / / / / / / / / / / / / /
/ / / / / / / / / / / / / / / / / / / /
/ / / / / / P R O J E C T S / / / / / /
/ / / / / / / / / / / / / / / / / / / /
/ / / / / / / / / / / / / / / / / / /*/

.project-nav {
  nav {
    background-color: $greylight;

    .navbar {
      .name {
        a {
          color: $greydark;
        }
        a:hover {
          color: $pink !important;
        }
        a:active {
          color: $pink !important;
        }
        a:visited {
          color: $greydark;
        }
      }

      .icons {

        a {
          color: $greydark;
          .overlay {
            background-color: $greylight;
          }
          &:hover .overlay {
          }
          
          svg {
            path {
              fill: $greydark;
            }
          }
        }  

        a:hover {
          color: $greydark;
        }
        a:visited {
          color: $greydark;
        }
        a:active {
          color: $pink;
        }
      }
    }

    .sidebar {
      background: $greylight;
      border-left: 20px solid $greylight;

      .mobile-nav {
        .mobile-link {
          border-top: 2px solid $greytransp;
          
          .mobile-nav-icon {
            svg {
              path {
                fill: $greydark;
              }
            }
          }
        }
           a {
        transition: 0.3s;
          h3 {
            transition: 0.3s;
            color: $greydark;
          }
          svg {
            path {
              fill: $greydark;
              transition: 0.3s;
            }
          }
        }
        a:hover {
          transition: 0.3s;
          h3 {
            transition: 0.3s;
            color: $greymed;
          }
          svg {
            path {
              fill: $greymed !important;
              transition: 0.3s;
            }
          }
        }
        a:active {
          transition: 0.3s;
          h3 {
            transition: 0.3s;
            color: $pink;
          }
          svg {
            path {
              fill: $pink !important;
              transition: 0.3s;
            }
          }
        }
      }

      h3 {
        color: $greydark;
      }

      .sidebar-body {
          .title {
            color: $greydark;
          }
          .type {
            color: $greydark;
          }
        }
      }
      .sidebar-footer {
        .links {
          .icon {
            svg {
              path {
                fill: $greydark;
              }
            }
          }
        a {
          transition: 0.3s;
          svg {
            path {
              fill: $greydark;
              transition: 0.3s;
            }
          }
        }
        a:hover {
          transition: 0.3s;
          svg {
            path {
              fill: $greymed;
              transition: 0.3s;
            }
          }
        }
        a:active {
          opacity: 1;
          transition: 0.3s;
          svg {
            path {
              fill: $pink;
              transition: 0.3s;
            }
          }
        }
        }
      }
    }
  }

.bottom-line-project {
  background-color: $greylight;
  height: 20px;
  width: 100%;
  z-index: 4;
  bottom: 0;
  position: fixed;
}



.project {
  color: $greydark;
  border: 20px solid $greylight;
  
  p {
    a {
      background-color: $greytransp;
      color: $greydark;
      text-decoration: none;
      padding: 0 5px;
      border-radius: 5px;
      transition: .4s ease;
    }
    a:hover {
      color: $greymed;
      transition: .4s ease;
    }
    a:active {
      transition: .4s ease;
      color: $pink;
    }
  }
  
  .section {
    padding: 50px 20px;
    
    h1 {
      max-width: 600px;
      color: $greydark;
      margin: 40px auto 0;
      font-size: 38px;
      line-height: 44px;
    }
    
    h2 {
      max-width: 600px;
      margin: 42px auto 20px;
      color: $greydark;
      font-size: 20px;
      text-transform: uppercase;
      font-weight: 900;
      letter-spacing: .7px;
    }
    
    h3 {
      max-width: 600px;
      margin: 20px auto 0;
      color: $greydark;
      font-size: 20px;
      text-transform: uppercase;
      font-weight: 900;
      letter-spacing: .7px;
    }
    
    .spacer40 {
      height: 40px;
      width: 100%;
    }
    
    .spacer80 {
      height: 80px;
      width: 100%;
    }
    
    .image-cont { 
      display: block;
      max-width: 1000px;
      margin: 40px auto;
      
      .image-1 {
        width: 100%;
        
        img {
          width: 100%;
        }
      }

      .image-2 {
        width: 100%;
        margin-bottom: 40px;

        img {
          width: 100%;
        }
      }

      .image-narrow {
        max-width: 600px;
        margin-bottom: 40px;

        img {
          width: 100%;
        }
      }
      
      .caption {
        margin: 10px auto 0;
        max-width: 600px;
        font-size: 15px;
        line-height: 21px;
        font-weight: 300;
        color: $greymed;
      }
    }
    
    .paragraph {
      margin: 40px auto;
      max-width: 600px;
      p {
      }      
    }
    
  @media only screen and (min-width: 980px) {
      .p-2col {
        margin: 40px auto;
        max-width: 850px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        .col {
          max-width: 400px;
          margin: 0 10px 20px;
        }
      }
    }
    
    .carousel-box {
      width: 100%;
      margin: 40px 0 60px;
      
      .carousel {
        margin: 0 auto;
        max-width: 900px;
        
        .image {
          margin: 0 auto;
          max-width: 900px;
          height: 100%;
          height: auto;
          
          img {
            max-width: 100%;
            margin: 0 auto;
            height: auto;
          }
        }
      }
    }
    
    .linkybob {
      max-width: 600px;
      margin: 40px auto;
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
      
      .link-box {
        border: 2px solid $greydark;
        border-radius: 7px;
        padding: 7px 13px;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        
        .link-text {
          font-size: 18px;
          text-transform: uppercase;
          font-weight: 500;
          padding: 6px 10px 0 0;
        }
        
        .link-arrow {
          height: 31px;
          img {
            height: 31px;
          }
        }
      }
      a:link {
        text-decoration: none;
        color: $greydark;
        background-color: none;
        transition: .4s ease;
      }
      a:active {
        text-decoration: none;
        color: $greydark;
        background-color: $lightpink;
        transition: .4s ease;
      }
      a:hover {
        text-decoration: none;
        color: $greydark;
        background-color: $greylight;
        transition: .4s ease;
      }
      a:visited {
        text-decoration: none;
        color: $greydark;
        transition: .4s ease;
      }
    }
    
  }
}



/*/ / / / / / / / / / / / / / / / / / /
/ / / / / / / / / / / / / / / / / / / /
/ / / / / / / / / / / / / / / / / / /*/

@media only screen and (min-width: 450px) {
  .project {
    .section {
      
      h1 {
        font-size: 45px;
        line-height: 50px;
      }
      h2 {
        font-size: 22px;
      }
      h3 {
        margin: 15px auto 0;
        font-size: 22px;
      }
      
      .image-cont { 
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .image-1 {
          width: 100%;

          img {
            width: 100%;
          }
        }

        .image-2 {
          width: 47%;
          margin-bottom: 0;

          img {
            width: 100%;
          }
        }
      }
            
      .linkybob {

        .link-box {
          padding: 10px 18px;

          .link-text {
            font-size: 22px;
            font-weight: 500;
            padding: 3px 8px 0 0;
          }

          .link-arrow {
            height: 31px;
            img {
              height: 31px;
            }
          }
        }
      }
      
    }
  }
  
}

@media only screen and (min-width: 768px) {
  
  .project {
    .section {
      padding: 80px 50px 100px;
      
      h1 {
        font-size: 55px;
        line-height: 60px;
      }
      h2 {
        font-size: 25px;
      }
      h3 {
        font-size: 25px;
        font-weight: 900;
      }
      
      .image-cont { 
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .image-1 {
          width: 100%;

          img {
            width: 100%;
          }
        }

        .image-2 {
          width: 47%;
          margin-bottom: 0;

          img {
            width: 100%;
          }
        }
      }
            
      .linkybob {

        .link-box {
          padding: 12px 18px;

          .link-text {
            font-size: 24px;
            font-weight: 500;
            padding: 2px 10px 0 0;
          }

          .link-arrow {
            height: 31px;
            img {
              height: 31px;
            }
          }
        }
      }
      
    }
  }
  
}

@media only screen and (max-width: 360px) {

  .project {
    .section {
      padding: 50px 20px;
      
      h1 {
        font-size: 32px;
        line-height: 38px;
      }
      h2 {
        margin: 60px auto 20px;
      }
      h3 {
        margin: 15px auto 0;
      }
      
      .linkybob {

        .link-box {
          padding: 7px 13px;

          .link-text {
            font-size: 16px;
            font-weight: 500;
            padding: 4px 10px 0 0;
          }

          .link-arrow {
            height: 25px;
            img {
              height: 25px;
            }
          }
        }
      }
      
    }
  }
  
}

/*/ / / / / / / / / / / / / / / / / / /
/ / / / / / / / / / / / / / / / / / / /
/ / / C U S T O M I Z A T I O N S / / /
/ / / / / / / / / / / / / / / / / / / /
/ / / / / / / / / / / / / / / / / / /*/

.sleeping-bees {
  background-image: url(../img/projects/sleeping-bees/bg.jpg);
  background-attachment: fixed;
  
  nav {
    box-shadow: 0px 1px 0px #d9d9d9;
    
    .navbar {
      .sidebar {
        background: $greylight;
        border-left: 20px solid $none;
      }
    }
  }
  
  .bottom-line-project {
    background-color: $none;
    height: 20px;
    width: 100%;
    z-index: 4;
    bottom: 0;
    position: fixed;
  }
  
  .project {
    color: $greydark;
    border: 20px solid $none;
  }
  
  @media only screen and (min-width: 450px) {
    nav {
      .sidebar {
        width: 280px;
      }
    }
  } 
  
}


.midi-jardin {
  background-image: url(../img/projects/midi-jardin/bg.png);
  background-size: contain ;
  background-repeat: no-repeat;
}

.sprites-n-dice {
  background-image: url(../img/projects/sprites-n-dice/bg.png);
  background-size: contain ;
  background-repeat: no-repeat;
}